fonts/
*.ttf
*.spv
!vulkan/vt.vert.spv
!vulkan/vt.frag.spv
vt
build
build.old
atlas.pgm
log
tests/golden/*.ppm
tests/golden/.got/
PLAN.md
plan.md
benchmark/__benchmark__/__benchmark__
benchmark/vtebench/target/
